* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.btn-outline{
    background: transparent;
    display: inline-block;
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
}

.btn-outline:hover{
    background: #fff;
    color: #000;
}

html {
    background: #f1e7d5;;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.container {
	margin: auto;
	max-width: 1300px;
	overflow: auto;
	padding: 0 20px;
}

.nav {
    overflow: auto;
}

.nav ul{
    list-style: none;
    float: right;
}

.nav ul li{
    float: left;
}

.nav ul li a{
    display: block;
    padding: 20px;
    text-align: center;
}

.nav ul li a:hover,
.nav ul li a.current{
    background: #f3e4ca;
    color: #707070;
}

#showcase {
    background: url('img/showcase.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    text-align: center;
    padding: 100px;
}

#showcase .btn{
    margin-top: 250px;
}

.welcome-section{
    padding: 50px 0;
    background: #f9f9f9;
}

.container h1 {
    text-align: center;
}

.container p {
    width: 50%;
    margin-left: 300px;
    text-align: center;
}

.work-section{
    padding: 50px 0;
    background: #f9f9f9;    
    text-align: center;
}

.work-section h2 {
    text-align: center;
}

.work-section ul {
    margin-top: 10px;
    list-style: none;    
}

.contact-section {
    padding: 50px 0;
    background: #fffafa;  
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
} 

.container-links{ 
    transition: transform 0.3s ease-out;  
}

.container-links a{ 
    margin: 10px;
}

.container-links:hover{
    transform: translateY(8px);
}

.main-footer {
    text-align: center;
    padding: 20px;
}